{% extends "base.html" %}

{% block title %}MessageList{% endblock title %}

{% block main_container %}
<h1>message list</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">message</th>
        <th scope="col">created</th>

    </tr>
  </thead>
  <tbody>
  {% set message_number = 0 %}
  {% for message in message_list %}
   {% if message.visible == None %}
  {% set message_number = message_number + 1 %}
   <tr>
      <th scope="row">{{ message_number }}</th>
      <td>
         <a href="/message/{{ message.key.id() }}"> {{ message.message_text }}</a>
      </td>
        <td>
            {% if message.created %}
            {{ message.created.strftime("%H:%M - %b %d, %Y")  }}
            {% endif %}
        </td>
    </tr>
   {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock main_container %}